<p id=”alert”><%= alert %></p>

<div class="jumbotron bg-white">
  <div class='border-bottom border-dark'>
    <h1>Log-in</h1>
    </div>
  </div>

<%= form_tag sessions_create_path do |form| %>
  <div class=”field”>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class=”field”>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class=”actions”>
    <%= submit_tag "Submit" %>
  </div>
<% end %>
